<!DOCTYPE html>
<html>
<head>
  <title>UnMapMe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:alert] %>
	<div class="alert">
		<%= flash[:alert] %>
	</div>
<% end %>

<div class="container-fluid">
	<div class="span2"></div>
	<div class="span10">
		<%= yield %>
	</div>
</div>

</body>
</html>
