<!DOCTYPE html>
<html>
<head>
  <title>Compass</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
	<div class="navbar navbar-inverse" style="margin-top:10px;">
	  <div class="navbar-inner">
	    <span class="brand"><img src="/compass.png" class="" width="40px" style="padding-left:10px;margin-right:10px;"><span style="position:relative;top:5px;">COMPASS</span></span>
	    <ul class="nav pull-right" style="margin-right:20px;">
			<li style="position:relative;top:12px;"><a>matiasanaya@gmail.com</a></li>
	    </ul>
	    <form class="navbar-search hidden-phone pull-right" style="position:relative;top:12px;margin-right:5%;">
  				<input type="text" placeholder="Search" class="span5">
		</form>
	  </div>
	</div>
	<div id="sidebar" class="span2">
		<h4><i class="icon-tags"></i><a href="/showcase">Shop</a></h4>
		<h4 style="background-color:#34495E"><i class="icon-comments"></i><a href="#">Feed</a></h4>
		<h4><i class="icon-user"></i><a href="#">Profile</a></h4>
	</div>
	<div class="span10">
		<% if flash[:alert] %>
			<div class="alert">
				<%= flash[:alert] %>
			</div>
		<% end %>
		<%= yield %>
	</div>
</div>

</body>
</html>
